absl-py==1.3.0
aiohttp==3.8.3
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.9.0
altair==4.2.0
amqp==5.1.1
annotated-types==0.7.0
ansi2html==1.8.0
antlr4-python3-runtime==4.9.3
anyio==3.6.2
anywidget==0.9.18
appdirs==1.4.4
appnope==0.1.2
arff==0.9
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.8.1
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
asyncssh==2.13.0
atpublic==3.1.1
attrs==22.1.0
AutoFeatSelect==0.1.5
autopage==0.5.1
autoviz==0.1.730
Babel==2.11.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.3
beautifulsoup4==4.11.1
bert-score==0.3.13
billiard==3.6.4.0
bleach==5.0.1
blinker==1.5
bokeh==2.4.3
Boruta==0.4.3
boto3==1.34.131
botocore==1.34.131
build==0.9.0
cachetools==5.2.0
catboost==1.1.1
category-encoders==2.6.1
celery==5.2.7
censius==1.6.2
cerebrium==0.4.1
certifi==2025.4.26
cffi==1.15.1
charset-normalizer==2.1.1
chatlas==0.6.1
click==8.1.8
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cliff==4.1.0
cloudpickle==2.2.1
cmaes==0.9.0
cmd2==2.4.2
cmdstanpy==1.0.8
colorama==0.4.6
colorcet==3.0.1
coloredlogs==15.0.1
colorlog==6.7.0
colour==0.1.5
comm==0.1.3
commonmark==0.9.1
configobj==5.0.6
contourpy==1.1.0
convertdate==2.4.0
cryptography==39.0.0
cycler==0.11.0
Cython==0.29.32
darts==0.22.0
dash==2.8.1
dash-auth==2.0.0
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-html-components==2.0.0
dash-table==5.0.0
databricks-cli==0.17.7
datasets==2.11.0
dateutils==0.6.12
debugpy==1.6.7
decorator==5.1.1
deepchecks==0.17.3
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dice-ml==0.9
dictdiffer==0.9.0
dill==0.3.6
diskcache==5.4.0
distro==1.8.0
docker==6.1.3
dpath==2.1.3
dtreeviz==2.2.1
duckdb==1.2.2
dulwich==0.20.50
dvc==2.38.1
dvc-data==0.28.4
dvc-http==2.27.2
dvc-objects==0.14.0
dvc-render==0.0.15
dvc-studio-client==0.3.0
dvc-task==0.1.8
dvclive==1.3.1
econml==0.14.0
emoji==2.6.0
entrypoints==0.4
ephem==4.1.3
erroranalysis==0.4.0
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==0.8.3
explainerdashboard==0.4.2.2
extra-streamlit-components==0.1.71
fairlearn==0.7.0
fastapi==0.88.0
fastjsonschema==2.16.2
feature-engine==1.8.3
filelock==3.9.0
Flask==2.2.3
Flask-Cors==3.0.10
flask-simplelogin==0.1.2
Flask-WTF==1.1.1
flatbuffers==22.12.6
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.30.0
fqdn==1.5.1
frozendict==2.3.4
frozenlist==1.3.3
fsspec==2022.11.0
funcy==1.17
future==0.18.2
gast==0.4.0
gevent==22.10.2
gitdb==4.0.10
GitPython==3.1.30
google-auth==2.15.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grandalf==0.6
graphviz==0.20.1
greenlet==2.0.1
grpcio==1.51.1
gunicorn==20.1.0
gw_dsl_parser==0.1.49.1
h11==0.14.0
h5py==3.7.0
hijri-converter==2.2.4
holidays==0.17.2
holoviews==1.14.9
html5lib==1.1
htmlmin==0.1.12
htmltools==0.6.0
httpcore==0.16.3
httpx==0.23.2
huggingface-hub==0.17.3
humanfriendly==10.0
humanize==4.4.0
hurst==0.0.5
hvplot==0.7.3
hydra-core==1.3.1
idna==3.4
ImageHash==4.3.1
imageio==2.25.0
imbalanced-learn==0.10.1
imblearn==0.0
importlib-metadata==5.1.0
importlib-resources==5.10.2
iniconfig==2.0.0
interpret==0.3.0
interpret-community==0.28.0
interpret-core==0.4.2
ipykernel==6.24.0
ipylab==1.0.0
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==7.7.5
isoduration==20.11.0
iterative-telemetry==0.0.6
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.10
jsonpickle==3.0.1
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-dash==0.4.2
jupyter-events==0.5.0
jupyter-server==1.24.0
jupyter_client==7.4.8
jupyter_core==5.1.0
jupyter_server_terminals==0.4.2
jupyterlab==3.5.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.4
jupyterlab_server==2.16.5
kaleido==0.2.1
kanaries_track==0.0.5
keras==2.11.0
keras-tuner==1.1.3
kiwisolver==1.3.2
kombu==5.2.4
korean-lunar-calendar==0.3.1
kt-legacy==1.0.4
libclang==14.0.6
lightgbm==3.3.3
lightning-utilities==0.4.2
lime==0.2.0.1
linkify-it-py==2.0.3
llvmlite==0.38.1
LunarCalendar==0.0.9
lxml==4.9.2
m2cgen==0.10.0
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.3
mdit-py-plugins==0.4.2
mdurl==0.1.2
mistune==2.0.4
mizani==0.8.1
ml-wrappers==0.4.2
mlflow==2.4.1
monotonic==1.6
mpmath==1.2.1
multidict==6.0.3
multimethod==1.9.1
multiprocess==0.70.14
multitasking==0.0.11
nanotime==0.5.2
narwhals==1.21.0
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.6
nbformat==5.7.0
nest-asyncio==1.5.4
networkx==2.5
nfoursid==1.0.1
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numba==0.55.0
numpy==1.24.4
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime==1.13.1
openai==0.27.8
opencv-python-headless==4.10.0.84
openpyxl==3.0.10
opt-einsum==3.3.0
optuna==2.10.1
orjson==3.10.13
outcome==1.2.0
oyaml==1.0
packaging==21.3
palettable==3.3.0
palmerpenguins==0.1.4
pandas==2.2.3
pandas-dq==1.28
pandas-profiling==3.6.2
pandasai==0.7.2
pandocfilters==1.5.0
panel==0.14.4
param==1.13.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.3
pbr==5.11.0
pep517==0.13.0
pexpect==4.8.0
phik==0.12.3
pickleshare==0.7.5
Pillow==9.0.1
pins==0.7.3
pip-tools==6.12.1
platformdirs==2.6.0
plotly==5.15.0
plotly-resampler==0.8.3.2
plotnine==0.10.1
pluggy==1.0.0
pmdarima==2.0.2
pooch==1.8.2
portalocker==2.8.2
prettytable==3.5.0
prometheus-client==0.15.0
prompt-toolkit==3.0.39
prophet==1.1.1
protobuf==3.9.2
psutil==5.9.4
psygnal==0.12.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyamg==5.0.1
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==3.0.2
pycparser==2.21
pyct==0.5.0
pydantic==1.10.13
pydantic-settings==2.9.1
pydantic_core==2.33.1
pydeck==0.8.0
pydot==1.4.2
pydotplus==2.0.2
pyforest==1.1.2
pygit2==1.11.1
Pygments==2.11.2
pygtrie==2.5.0
pygwalker==0.4.9.15
PyJWT==2.6.0
PyMatting==1.1.12
PyMeeus==0.5.12
Pympler==1.0.1
pynndescent==0.5.10
PyNomaly==0.3.3
pyod==1.0.9
pypandoc==1.11
pyparsing==3.0.7
pyperclip==1.8.2
pyrsistent==0.19.2
PySocks==1.7.1
pytest==7.3.2
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python-json-logger==2.0.4
python-multipart==0.0.20
python-utils==3.7.0
pytorch-forecasting==0.10.3
pytorch-lightning==1.8.5
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
pyvis==0.3.2
pyviz-comms==2.3.2
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==23.2.1
qtconsole==5.4.3
QtPy==2.3.1
querystring-parser==1.2.4
questionary==2.1.0
quickjs==1.19.4
rai-core-flask==0.5.0
raiutils==0.3.0
raiwidgets==0.24.1
regex==2023.6.3
rembg==2.0.57
requests==2.32.3
requests-oauthlib==1.3.1
responses==0.18.0
responsibleai==0.24.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.0.0
rouge-score==0.1.2
rpy2==3.5.12
rsa==4.9
rsconnect-python==1.13.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.10.1
SALib==1.4.7
schemdraw==0.15
scikit-image==0.19.3
scikit-learn==1.2.2
scikit-plot==0.3.7
scikit-surprise==1.1.3
scipy==1.8.0
scmrepo==0.1.4
seaborn==0.12.1
segment-analytics-python==2.2.3
selenium==4.10.0
semver==2.13.0
Send2Trash==1.8.0
seqeval==1.2.2
setuptools-git==1.2
shap==0.41.0
shiny==1.2.1
shinywidgets==0.4.2
shortuuid==1.0.11
shtab==1.5.8
siuba==0.4.2
six==1.16.0
sklearn==0.0
skope-rules==1.0.1
sktime==0.17.0
slicer==0.0.7
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sparse==0.13.0
SQLAlchemy==1.4.45
sqlglot==26.16.4
sqlparse==0.4.4
st-pages==0.4.5
stack-data==0.2.0
starlette==0.22.0
statsforecast==1.4.0
statsmodels==0.13.5
stevedore==4.1.1
stqdm==0.0.5
streamlit==1.35.0
streamlit-aggrid==0.3.4.post3
streamlit-elements==0.1.0
streamlit-pandas-profiling==0.1.3
surprise==0.1
sympy==1.11.1
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tbats==1.1.3
tenacity==8.1.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
termcolor==2.2.0
terminado==0.17.1
textblob==0.17.1
threadpoolctl==3.1.0
tifffile==2023.1.23.1
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
toolz==0.12.0
torch==1.13.1
torchdata==0.5.1
torchmetrics==0.11.0
tornado==6.2
tqdm==4.64.1
trace-updater==0.0.9.1
traitlets==5.7.1
transformers==4.27.2
treeinterpreter==0.2.3
trio==0.22.2
trio-websocket==0.10.3
typeguard==2.13.3
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2022.7
tzlocal==4.2
uc-micro-py==1.0.3
ucimlrepo==0.0.3
umap-learn==0.5.3
umpy==0.1.0
uri-template==1.2.0
urllib3==1.26.13
uvicorn==0.20.0
validators==0.20.0
vetiver==0.1.8
vine==5.0.0
visions==0.7.5
voluptuous==0.13.1
waitress==2.1.2
wasmtime==32.0.0
watchfiles==1.0.3
wcwidth==0.2.5
webcolors==1.12
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client==1.4.2
websockets==14.1
Werkzeug==2.3.6
widgetsnbextension==3.6.4
wordcloud==1.9.2
wrapt==1.14.1
wsproto==1.2.0
WTForms==3.0.1
wurlitzer==3.0.3
xarray==2022.12.0
xgboost==1.7.3
xlrd==2.0.1
xxhash==3.2.0
yarl==1.8.2
yaspin==2.3.0
yellowbrick==1.5
yfinance==0.2.3
zc.lockfile==2.0
zipp==3.11.0
zope.event==4.6
zope.interface==5.5.2
